<section id="a-propos" class="p-section col-span-full grid-body">
    <article class="col-span-full md:col-start-1 md:col-end-8">
        <h2 class="text-h2 text-gold-normal">À propos</h2>
        <p class="text-body mt-8">
            Diplômé d’un BPJEPS, je mets mes compétences au service de tes objectifs
        </p>
        <p class="text-body mt-8">
            Ayant toujours été passionné par le sport toute catégorie confondue j’ai eu l’occasion d’en pratiquer plusieurs, des <b class="font-bold">arts martiaux</b> au Street-Workout en passant par le <b class="font-bold">Parkour</b>.
        </p>
        <p class="text-body mt-8">
            J’ai donc développé un goût tout particulier pour l’effort que je souhaite te transmettre, ce qui t’aidera à atteindre tes objectifs
        </p>
    </article>

    {{ partial "image" (dict
        "img" "images/corentin-sw.jpg"
        "opt" (dict
        "loading" "normal"
        "alt" "Corentin Chevalier, coach sportif"
        "size" "400x"
        "class" "w-full order-first md:order-last col-span-3 md:col-start-8 md:col-end-13 mb-12 md:md-0"
        )
    )}}
</section>