<section id="contact" class="p-section relative
    col-span-full xl:col-start-2
    flex flex-col items-start">
    <h2 class="text-h2 text-gold-normal mb-8">Prendre contact</h2>
    <a class="mb-8 text-h3 block flex flex-row items-center gap-4" href="tel:{{ .Site.Params.phone }}">
        <img src="/icons/whatsapp.svg" alt="Whatsapp" height="42" width="42"/>
        <span class="link">{{ .Site.Params.phone }}</span>
    </a>
    <a class="mb-8 text-h3 block flex flex-row items-center gap-4" href="#{{ .Site.Params.facebook }}">
        <img src="/icons/facebook.svg" alt="Facebook" height="42" width="42" />
        <span class="link">{{ .Site.Params.facebook }}</span>
    </a>
    <a class="mb-8 text-h3 block flex flex-row items-center gap-4" href="mail:{{ .Site.Params.email }}">
        <img src="/icons/email.svg" alt="Email" height="42" width="42"/>
        <span class="link">{{ .Site.Params.email }}</span>
    </a>

    {{ partial "svg/logo" (dict "class" "absolute text-black-decoration z-[-10] translate-x-1/2 md:translate-x-0 right-[-1rem] md:right-[10%] bottom-0 h-3/4 xl:h-full w-3/4 md:w-auto") }}
</section>