<section class="p-section col-span-full pt-32 grid-body items-center">
    {{ partial "image" (dict
        "img" "images/corentin-c.jpg"
        "opt" (dict
            "loading" "normal"
            "alt" "Corentin Chevalier, coach sportif"
            "size" "400x"
            "class" "w-full col-span-3 md:col-span-4 mb-12 xl:mb-0"
        )
    )}}

    <article class="col-span-full xl:col-start-5 xl:col-end-13 flex flex-col items-start">
        <h1 class="text-h1 uppercase">Coach sportif à Bordeaux</h1>
        <h2 class="text-h3 text-gold-normal mt-1">Musculation, remise en forme</h2>
        <p class="text-body mt-8 xl:w-4/5">
            Je t'aide à transformer ton corps et atteindre tes objectifs, pour te sentir mieux et vivre sans contrainte.
        </p>
        <a href="#contact" class="btn mt-8">Prendre contact</a>
    </article>
</section>