{{ $sessionHoursDuration := .Site.Data.sections.pricing.sessionHoursDuration}}
{{ $baseSessionPrice := mul $sessionHoursDuration .Site.Data.sections.pricing.hourPrice }}

<section id="tarifs" class="p-section col-span-full grid-body">
    <h2 class="col-span-full mb-8 text-h2 text-gold-normal">Tarifs</h2>
    <ul class="flex flex-col gap-2 col-span-full mb-16">
        <li>
            <article class="relative px-8 py-6 bg-black-card rounded-lg
                    w-full flex flex-wrap items-center justify-between gap-4"
            >
                <h4 class="text-cta flex gap-4 items-center">
                    Bilan préliminaire
                </h4>

                <div class="w-full md:w-5/12 xl:w-4/12">
                    <span class="text-h4 text-gold-normal">
                        {{ if eq .Site.Data.sections.pricing.isBilanFree true }}
                            Offert
                        {{ else }}
                            {{ .Site.Data.sections.pricing.bilanPrice }}€
                        {{ end }}
                    </span>
                </div>
            </article>
        </li>
        {{ range .Site.Data.sections.pricing.sessions }}
        <li>
            <article class="px-8 py-6 bg-black-card {{if .isHighlighted}}scale-[1.02] text-black-background bg-gradient-to-r from-gold-gradient-start to-gold-gradient-end{{end}} rounded-lg
                    w-full flex flex-wrap items-center justify-between gap-4"
            >
                <h4 class="text-cta flex gap-4 items-center">
                    {{.count}} séance{{if gt .count 1}}s{{end}}/semaine
                    {{if .isHighlighted}}
                    <span class="text-label font-normal flex items-center bg-black-card rounded-md px-3 pt-2 pb-1.5 text-gold-normal">Conseillé</span>
                    {{ end }}
                </h4>

                <div class="w-full md:w-5/12 xl:w-4/12">
                    <span class="text-h4 {{if .isHighlighted}}text-black-background{{else}}text-gold-normal{{end}}">{{ mul (sub ( mul 4 .count) .countOffered ) $baseSessionPrice }}€</span>
                    <span class="text-body">/mois ({{.countOffered}} séance{{if gt .countOffered 1}}s{{end}} offerte{{if gt .countOffered 1}}s{{end}})</span>
                </div>
            </article>
        </li>
        {{ end }}
    </ul>

    <div class="col-span-full md:col-start-1 md:col-end-7 mb-16 flex flex-col items-start">
        <h3 class="text-h3 mb-4" id="bilan-details">Bilan préliminaire</h3>
        <p class="text-body mb-2">
            Toutes les prestations démarrent avec un bilan
            {{ if eq .Site.Data.sections.pricing.isBilanFree true }}
                <span class="font-bold text-gold-normal">offert</span>.
            {{ else }}
                à <span class="font-bold text-gold-normal">{{ .Site.Data.sections.pricing.bilanPrice }}€</span>.
            {{ end }}
        </p>
        <p class="text-body mb-5">
            J’évalue ton profil pour te proposer un accompagnement en accord avec tes capacités actuelles.
        </p>
        <a href="{{ .Site.Data.sections.contact.askResumeLink}}" class="btn">Demander un bilan</a>
    </div>

    <div class="col-span-full md:col-start-7 md:col-end-13">
        <h3 class="text-h3 mb-4" id="prestations-details">Prestations</h3>
        <p class="text-body mb-2">
            Suite au bilan, je te propose un abonnement mensuel.
            </p>
        <p class="text-body mb-2">
            Nous choisissons ensemble le nombre de séances par semaine.
        </p>
        <p class="text-body mb-2">
            <b class="font-bold">Chaque séance dure {{ $sessionHoursDuration }} heure{{if gt $sessionHoursDuration 1}}s{{end}}</b>.
        </p>

        <p class="text-body mb-2">
            Prix de la séance: {{ $baseSessionPrice }}€.
        </p>
    </div>
</section>
