<section id="tarification" class="p-section
    col-span-full
    grid-body
    ">
    <div class="col-span-full md:col-start-1 md:col-span-5 xl:col-start-2 xl:col-span-5 mb-8">
        <h2 class="text-h2 text-gold-normal">Tarification</h2>
        <p class="text-body mt-8">
            Toutes les prestations démarrent avec un bilan suivi d’un abonnement mensuel, qui comprend des séances d’une heure.
        </p>
        <p class="text-body pt-2">
            Nous choisissons ensemble le nombre de séances par semaines après le bilan.
        </p>
    </div>

    <div class="col-span-full md:col-start-7 md:col-span-8 xl:col-start-8 xl:col-span-6  space-y-8">
        {{ $prices := (slice
        (dict "n" 1 "price" 50)
        (dict "n" 2 "price" 40)
        (dict "n" 3 "price" 35)
        (dict "n" 4 "price" 30)
        ) }}
        {{ range $prices}}
        <article>
            <h3 class="text-h3">{{ .n }} séance{{if gt .n 1}}s{{end}} / semaine</h3>
            <p class="text-body pt-2">{{ .price }}€ par séance</p>
            {{ $monthPrice := mul 4 (mul .n .price) }}
            <p class="text-body pt-2">{{ $monthPrice }}€ par mois</p>
        </article>
        {{ end }}
    </div>
</section>