<header class="z-50 sticky top-0 w-full px-4 py-4  max-h-screen flex flex-col"
        x-data="menu" :class="isOpen ? 'bg-black-card' : 'bg-black-background'">
    <div class="container grid grid-cols-12">
        <nav class="col-span-full xl:col-start-2 xl:col-end-12 flex flex-row justify-between text-cta z-50">
            <a href="/" class="link mr-auto">Coach by Co</a>

            {{ with .Site.Menus.main }}
            <div class="hidden md:flex flex-row gap-10">
                {{ range .ByWeight  }}
                <a href="{{ .URL | relURL }}" class="link">{{ .Name }}</a>
                {{ end }}
            </div>
            {{ end }}

            <div class="block md:hidden">
                <button @click="toggleMenu" x-text="isOpen?'Fermer':'Menu'">Menu</button>
            </div>
        </nav>
    </div>

    {{ with .Site.Menus.main }}
        <div class="w-full flex-grow h-screen flex-col items-center justify-center gap-10 text-h3 overflow-x-hidden"
             :class="isOpen?'flex':'hidden'">
            {{ range .ByWeight  }}
            <a href="{{ .URL | relURL }}" class="link" @click="closeMenu">{{ .Name }}</a>
            {{ end }}
        </div>
    {{ end }}
</header>
